.container {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
}

.header h5 {
  color: #5863e3;
  font-size: 17px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 57px;
}

.header h2 {
  color: #000;
  font-size: 49px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 371px;
  margin-top: 7px;
}

.form-container {
  margin-top: 57px;
}

form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

textarea {
  width: 756px;
  height: 298px;
  border: 2px solid rgba(212, 211, 211, 0.3);
  background: #f8f8f8;
  padding: 23px 21px;
}

input[type="text"] {
  width: 100%;
  height: 59px;
  border: 2px solid rgba(212, 211, 211, 0.3);
  background: #f8f8f8;
  margin-bottom: 20px;
  padding: 21px 19px;
}

input[type="button"] {
  width: 100%;
  height: 59px;
  border: 2px solid #5968f4;
  background: #5968f4;
  color: #fbfbff;
  font-size: 14px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}
input[type="button"]:hover {
  transition: 1s;
  background: darkblue;
}

.inputs {
  width: 370px;
}

.icon {
  height: 68px;
  width: 68px;
  border-radius: 50%;
  background: #5968f4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-envelope {
  font-size: 38px;
  color: #344188;
}

.fa-phone {
  font-size: 38px;
  color: #344188;
}

.fa-location-dot {
  font-size: 38px;
  color: #344188;
}

.contact-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 51px;
}

.conts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.conts h3 {
  color: #4e4d54;
  font-size: 20px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.conts p {
  color: #99999a;
  font-size: 15px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.n2 {
  margin-top: 100px;
}

.n2 h2 {
  width: 548px;
}

.pictures {
  display: flex;
  justify-content: space-around;
  margin-top: 53px;
  margin-bottom: 100px;
}
footer {
  max-width: 100%;
  background-color: #000;
  display: flex;
}
footer h1 {
  color: #fff;
  font-family: Helvetica;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 25px;
}
footer p {
  color: #99999a;
  font-family: Helvetica;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 295px;
  height: 80px;
  margin-bottom: 27px;
}
footer h2 {
  color: #fff;
  font-family: Helvetica;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 32px;
}
footer h3 {
  color: #5863e3;
  font-family: Helvetica;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}
fa-solid {
  font-size: 10px;
}
.fi {
  font-size: 22px;
  margin-right: 15px;
}
footer h4 {
  color: #fff;
  font-family: Helvetica;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.a {
  display: flex;
  margin-top: 19px;
}
.b {
  margin-top: 63px;
  margin-left: 143px;
  margin-right: 191px;
}
.c {
  margin-top: 63px;
  margin-right: 100px;
}